*{
    font-family: "Vazir FD-WOL";
}
.header{
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.7);


}
/*لینک های موجود در هدر*/
.header > div{
    width: 150px;
    height: 100px;
    text-align: center;
    line-height: 75px;
    font-size: 14px;
    margin: 15px;
    cursor: pointer;
}
.header-lists-links{
    text-decoration: none;
    color: black;
}
a.header-lists-links:hover svg.p-lists-lines,a.header-lists-links:hover{
    color: #fb815e;
    stroke: #fb815e;
}
a.header-lists-links:hover svg.pathes,a.header-lists-links:hover{
    color: #fb815e;
    stroke: #fb815e;
}


.p-lists-lines{
    stroke: black;
}
.pathes{
    stroke: black;
    fill: white;
    fill-opacity: 0.2;

}

/*ورود*/
.e-pathes{
    stroke: blue;
    fill: white;
    fill-opacity: 0.2;
    transform: rotate(180deg);
    vertical-align: middle;
}
.e-link{
    margin-right: 5px;
    width: 150px;
    background-color: rgba(0,0,0,0.1);
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    /*margin-right: 20vw;*/
    border-radius: 2px 2px 2px 2px;
    color: blue;
    text-decoration: none
}
a.e-link:hover svg.e-pathes,a.e-link:hover{
    color: orangered;
    stroke: orangered;
}

/*search bar*/
.search-box-container{
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
.search-box-container>.search-box{
    background-image: url(p_lists/5ef8034.png);
    background-size: cover;
    background-color: #1780df;
    height: 40vh;
    width: 80vw;
    text-align: center;
    border-radius: 20px 20px 20px 20px;
    color: white;

}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar > .btn-for-search{
    border-radius: 15px 0 0 15px;
    height:60px;
    width: 146.033px;
    background-color: #fb815e;
    border-color: #fb815e;
    color: white;
    text-align: center;
    padding: .375rem .75rem;
    font-weight: 400;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}
button.btn-for-search:hover{
    background-color: #fa5a2c;
}
.search-bar > .search-pathes_div{
    background-color: white;
    height:60px;
    width: 25px;
    border-color: white;
    font-weight: 400;
    line-height: 2;
}
.search-pathes{
    stroke: #acadaf;
    stroke-width: 2;
    fill: white;
    fill-opacity: 0.2;
    vertical-align: middle;
    margin-top: 10px;
}
.search-bar > .city-select{
    height:58px;
    width: 172.067px;
    background-color: white;
    border-width: 0;
    padding-right: 1rem !important;
    color: #6e7794;
    padding-left: 15px;
    text-align: right;
    direction: rtl;
    font-size: 1rem;
}
.search-bar > .sb-search{
    height:58px;
    width: 300.067px;
    color: #6e7794;
    background-color: white;
    border-width: 0;
    border-color: white;
    padding-left: 15px;
    text-align: right;
    direction: rtl;
    font-size: 1rem;
    border-radius: 0px 0px 20px 0px;
}

/*بهترین تخصص های درمانکد*/
.h3_class{
    text-align: right;
}
.bp_container{
    display:grid;
    width: 90vw;
    height: 241px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    grid-template-rows: 27px 150px;
    grid-template-columns: 125px 125px 125px 125px 125px 125px 125px;
    justify-content: space-around;
    grid-gap: 43px;
    margin-top: 0;

}
.bp_container > .h5_bp_class{
    grid-area: 1/5/1/8;
    text-align: right;
}
.bp_container > .see_all_div{
    grid-area: 1/1/1/4;
    text-align: left;
    padding-left: 15px;
    color: #1780df;
    cursor: pointer;
}
.see_all_link{
    text-decoration: none;
    color:#1780df;
}
a.see_all_link:hover svg.see_all_svg, a.see_all_link:hover{
    color: orangered;
    stroke: orangered;
}
.see_all_svg{
    stroke-width: 2px;
    stroke: #1780df;
    fill: transparent;
    vertical-align: middle;
}

.bp_container > a {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    padding: .5rem !important;
    background-color: #fff;
    color: #6e7794;
    text-align: center;
    direction: rtl;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
a.icon_link:hover{
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.3);
}

.icon_link > .icon_div{
    height: 85px;
    width: 107px;
    background-color: #e8c9fd;
    border-radius: 5px;
    color: #6e7794;
    border: 0 solid #e2e8f0;
    text-align: center;
    direction: rtl;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.icon_link>.icon_p{
    width: 107px;
    height: 21px;
    color: #3b4157;
    margin-top: 1.5rem !important;
    text-align: center;
    direction: rtl;
    margin-bottom: 0px;

}
.icon_div {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*<!--    نظرات و روند درمانی کاربران-->*/
.p_opinion{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /*background-color: #acadaf;*/
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 200px;
}
.p_opinion > .div_nazarat {
    width: 403px;
    height: 370px;
    /*background-color: #fcbaba;*/
    text-align: right;
    direction: rtl;
}
.p_opinion_h4{
    font-size: 20px;
    color: #3b4157;
    font-weight: 700 !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-top: 30%;
}
.p_opinion_p{
    line-height: 30px;
    font-size: 14px;
    color: #6e7794;
    padding-left: 3rem !important;
    margin-bottom: 0;
    width: 75% !important;
    margin-top: 0;

}

.p_opinion > .openion_box{
    width: 568px;
    height: 418px;
    /*background-color: #fcbaba;*/

}
.openion_box > .cama_icon{
    position:relative;
    top: 7%;
    left:80%;
    width: 50px;
    height: auto;
    z-index: 12;
    border-style: none;
}
.openion_box_div{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: 1px solid #1780df;
    background-color: #e5f2fe;
    border-radius: 20px;
    height: 370px;
    padding: 1rem !important;
    margin-bottom: 3rem !important;
    position: relative;
    float: left;
    text-align: right;
    direction: rtl;
    /*margin-right: -100%;*/
}
.openion_box_div >p{
    color: #3b4157;
    margin-bottom: 1rem !important;
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.openion_box_div_bottom{
    height: 90px;
    position: absolute;
    bottom: 12px;
    border-top: 2px dashed #6e7794;
    width: 98%;
    left: 5px;
    z-index: 10;
    margin: 0 auto;
    padding-top: 1rem !important;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.openion_box_div_bottom > img{
    width: 75px !important;
    height: 75px !important;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 15px;
    margin-left: 15px;
}
.openion_box_div_bottom > div{
    width: 255px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: right;
    direction: rtl;
}
.openion_box_div_bottom_h4{
    font-size: 14px;
    color: #3b4157;
    font-weight: 700 !important;
    margin-bottom: .5rem !important;
    line-height: 1.2;
    margin-top: 0;
}
.openion_box_div_bottom_p{
    font-size: 14px;
    color: #3b4157;
    margin-bottom: 0 !important;
    font-weight: 400;
    line-height: 1.5;
}
.openion_box_div_bottom > a{
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center !important;
    background-color: #fb815e;
    border-color: #fb815e;
    font-weight: 400;
    cursor: pointer;
    /*user-select: none;*/
    /*padding: .375rem .75rem;*/
    line-height:2rem;
    text-decoration: none !important;
    width: 170px;
    height: 34px;
    margin-left: 20px;
}
a.openion_box_div_bottom_a:hover{
   background-color: orangered;
}
.after_openion_users{
    position: relative;
    width: 30px;
    height: 30px;
    border-top: 0;
    border-right: 1px solid #1780df;
    border-bottom: 1px solid #1780df;
    border-left: 0;
    bottom: 63px;
    left: 80px;
    content: "";
    transform: rotate(45deg);
    background: #e5f2fe;
    z-index: 1;
    display: block;
    clear: both;

}
/*خدمات ویژه*/
.special-service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 663px;
    padding-right: 5%;
    padding-left: 5%;
    background-image: url(p_lists/specialServices.png);
    background-size: cover;
    direction: rtl;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.special-service>.sp_s_h5{
    color: white;
    height: 33px;
}
.special-service > .container_in_sp{
    height: 469px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
}
.container_in_sp > .mosh_online_container{
    width: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.mosh_online_container > .mo_img{
    width: 315px;
    height: 238px;
    text-align: center;

}
.mosh_online_container > .mo_h4{
    color: white;
    text-align: center;
    height: 21.6px;
    width: 315px;
    direction: rtl;
}
.mosh_online_container > .mo_p{
    color: white;
    text-align: right;
    direction: rtl;
    height: 78px;
    width: 315px;
}
.mosh_online_container > .mo_orangebox{
    border-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 1rem;
    width: 315px;
    height: 57px;
    background-color: #fb815e;
    border-color: #fb815e;
    text-align: center;
    vertical-align: middle;
}
.sps_svg{
    fill: none;
    stroke-width: 2;
    stroke: white;
    overflow: hidden;
    margin-right: 0.5rem;
    vertical-align: middle;
    color: white;
    direction: rtl;
}
div.mo_orangebox:hover,div.rcr_orangebox:hover{
    background-color: orangered;
}

.container_in_sp > .RCR_test_container{
    width: 378px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.RCR_test_container > .rcr_img{
    width: 315px;
    height: 238px;
    text-align: center;

}
.RCR_test_container > .rcr_h4{
    color: white;
    text-align: center;
    height: 21.6px;
    width: 315px;
    direction: rtl;
}
.RCR_test_container > .rcr_p{
    color: white;
    text-align: right;
    direction: rtl;
    height: 78px;
    width: 315px;
}
.RCR_test_container > .rcr_orangebox{
    border-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 1rem;
    width: 315px;
    height: 57px;
    background-color: #fb815e;
    border-color: #fb815e;
    text-align: center;
    vertical-align: middle;
}
/*دانلود اپلیکیشن*/
.app_download_container{
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
    height: 454px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.app_download_container > .ad_pic_container{
    height: 376px;
    width: 473px;
    margin-top: 35px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.ad_pic_container > .ad_pic_img{
    height: 329px;
    width: 473px;
    border-radius: 20px;
    vertical-align: middle;

}
.ad_pic_container > .ad_pic_apps_icons{
    height: 47px;
    width: 473px;
    padding-top: 1rem;
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ad_pic_apps_icons > img{
    width: 27px;
    height: 31px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.app_download_container > .ad_text_container{
    height: 254px;
    align-self: center;
    width: 473px;
    margin-top: 35px;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ad_text_container > .ad_text_h5{
    height: 16px;
    width: 100%;
    color: #3b4157;
    font-weight: 700;
    padding-bottom: 1rem;
    font-size: 20px;
    margin-bottom: .5rem;
    line-height: 1.2;
    margin-top: 0;
    text-align: right;
    direction: rtl;
}
.ad_text_container > .ad_text_p{
    height: 60px;
    width: 100%;
    color: #6e7794;
    font-size: 16px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: right;
    direction: rtl;
}
.ad_text_container > .ad_text_p2{
    height: 24px;
    width: 100%;
    color: #3b4157;
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 1rem;
    text-align: right;
    direction: rtl;
    font-weight: 700;

}
.ad_text_container > .send_link_container{
    height: 50px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.send_link_container > .phone_number{
    /*padding: 19px 15px;*/
    padding-left: 1rem;
    padding-right: 1rem;
    width: 230px;
    height: 48px;
    border-radius: 10px;
    margin-left: 0.25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: white;
    border: 1px solid #ced4da;
    max-width: 50%;
    text-align: right;
    direction: rtl;
}
.send_link_container > .send_link_btn{
    /*padding: .75rem 1rem;*/
    padding-left: 1rem;
    padding-right: 0 !important;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    background-color: #fb815e;
    cursor: pointer;
}
.send_link_btn > .btn_before {
    background-color: #fc9c81;
    width: 70px;
    height: 50px;
    border-radius: 20px 0 0 20px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 0;
    padding-right: 0 !important;
}
div.send_link_btn:hover{
    background-color: #fc9c81 ;
    transition: all 0.5s;
}
.send_link_btn > .send_btn_text{
    width: 77px;
    height:100%;
    color: white;
    text-align: center;
    direction: rtl;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 10px;
    vertical-align: middle;
    padding-top: 10px;

}
/*footer*/
.footer_container{
    height: 785px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1780df;

}
.footer_container > .dar_pic_inf{
    height: 100px;
    margin-top: 0;
    padding-top: 0;
    cursor: pointer;
}
.footer_container > .footer_p{
    color: white;
    height: 76px;
    width: 473px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    direction: rtl;
}
.footer_container > .con_in_footer{
    width: 1136px;
    height: 142px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    direction: rtl;
    /*background-color: #c5e1fb;*/
    margin-top: 0;
}
.con_in_footer > .con_in_footer_item1{
    width: 30%;
    height: 100%;
    /*background-color: #fcbaba;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.con_in_footer_item1 > ul{
    width: 189px;
    height: 100%;
    list-style: none;
}
.footer-plp-list-item{
    text-decoration: none;
    cursor:pointer;
}
li.footer-plp-list-item:hover{
    background-color: white;
    color: #1780df;
}
.con_in_footer > .con_in_footer_item2{
    width: 60%;
    height: 100%;
    /*background-color: #fb815e;*/
}

.footer_container> .name_family_in{
    /*width: 346px;*/
    width: 32vw;
    height: 5vh;
    /*height: 37px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.name_family_in > .name_input_footer{
    width: 15vw;
    height: 5vh;
    border-radius: 5px;
    margin: 1px;
    font-size: 14px;
    color: #495057;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    text-align: right;
}
.footer_container > .email_in{
    width: 30vw;
    height: 5vh;
    border-radius: 5px;
    padding: .375rem .75rem;
    font-size: 14px;
    color: #495057;
    border: 1px solid #ced4da;
    text-align: right;
    margin-top: 17px;
}
.footer_container > .participate_btn{
    width: 30vw;
    height: 8vh;
    background-color: #fb815e;
    /*background-color: #fc9c81;*/


    border-radius: 10px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    padding: .375rem .75rem;
    padding-right: 0 !important;
    padding-left: 1.5rem !important;
}
.participate_btn > .footer_btn_before {
    background-color: #fc9c81;
    width: 70px;
    height: 8vh;
    padding: .375rem .75rem;
    border-radius: 20px 0 0 20px;
    text-transform: uppercase;
    text-align: center;
    margin-right: 0 !important;
    /*padding-right: 0 !important;*/
    vertical-align: center;
    /*padding-left: 5px;*/
    /*padding-top: 5px;*/
    /*margin-right: -8px;*/
}
div.participate_btn:hover{
    background-color: #fc9c81;
    transition: all 0.5s;
}
.participate_btn > svg{
    height: 20.8px;
    width: 20.8px;
}
.participate_btn > div{
    height: 24px;
    width: 25vw;
    text-align: center;
    direction: rtl;
    color: white;
}
.footer_container > .footer_pic{
    height: 20vh;
    width: 30vw;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_pic > image{
    width: 93px;
    height: 108px;
    background-color: #c5e1fb;
}
/*}*/
/*.icon_div >.icon_img{*/
/*    height: 51px;*/
/*    width: 51px;*/
/*}*/

/*.bp_container> .h3_class{*/
/*    grid-area: 1/4/1/7;*/
/*    text-align: right !important;*/
/*}*/



/*}*/